<!-- <app-forgot-password></app-forgot-password> 
   <app-user-registeration></app-user-registeration> 
  <app-details-confirmation></app-details-confirmation>
 <app-user-login></app-user-login>  
  <app-admin-login></app-admin-login>
 <app-add-flight></app-add-flight>
 <app-flight-details></app-flight-details> 
 <app-passengers></app-passengers> 
<app-show-passengers></app-show-passengers>
 <app-change-password></app-change-password> 
<app-flight-search></app-flight-search>
<app-add-trip></app-add-trip>
<app-edit-trip></app-edit-trip>
<app-cancelticket></app-cancelticket>
<app-navbaradmin></app-navbaradmin>
<app-navbarhome></app-navbarhome>
<app-navbarlogin></app-navbarlogin>
<app-navbaruser></app-navbaruser>
<app-printticket></app-printticket>
<app-viewbookings></app-viewbookings> -->