<!-- <app-forgot-password></app-forgot-password> 
<app-user-registeration></app-user-registeration> 

 <app-user-login></app-user-login>  
  <app-admin-login></app-admin-login>
  <app-flight-details></app-flight-details>
 <app-add-flight></app-add-flight>
 <app-flight-details></app-flight-details> 

<app-show-passengers></app-show-passengers>
 <app-change-password></app-change-password> 
<app-add-trip></app-add-trip>
<app-edit-trip></app-edit-trip>

<app-navbaradmin></app-navbaradmin>
<app-navbarhome></app-navbarhome>
<app-navbarlogin></app-navbarlogin>
<app-viewbookings></app-viewbookings>
<app-printticket></app-printticket>
 -->

<!-- <app-flight-search></app-flight-search> -->
<!-- <app-navbaruser></app-navbaruser>

<app-cancelticket></app-cancelticket> -->
<app-passengers></app-passengers> 
<app-details-confirmation></app-details-confirmation>